# Unity generated
Library/
Temp/
Obj/
Logs/
UserSettings/

# Unity crash logs
sysinfo.txt
*.stackdump

# Builds
Build/
Builds/

# OS
.DS_Store

# IDE
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
ex-gf path/
